<h1>Samples</h1>
<table class="table table-striped table-hover" ng-init="vm.list();">
  <tr>
    <td class="text-center">ID</td>
    <td class="text-center">Param1</td>
    <td class="text-center">Param2</td>
    <td>Ações</td>
  </tr>
  <tr ng-repeat="sample in vm.samples">
    <td class="text-center">
      {{sample.id}}
    </td>
    <td class="text-center">
      {{sample.param1}}
    </td>
    <td class="text-center">
      {{sample.param2}}
    </td>
    <td>
      <a  class="btn btn-info" ui-sref="app.dashboard.sample.edit({ id: sample._id })">Editar</a>
      <button class="btn btn-danger" ng-click="vm.remove(sample)">Remove</button>
    </td>
  </tr>
</table>
